{% extends "base.html" %}

{% block content %}
  <h2>Welcome Client</h2>

  <hr>

  <h3>Content:</h3>
  {% if content %}
    <ul>
    {% for item in content %}
      {% if item['type'] == 'text' %}
        <li><a href="{{ url_for('view', filename=item['filename']) }}">{{ item['filename'] }}</a> <a href="{{ url_for('download_file', filename=item['filename']) }}">(Download)</a></li>
      {% elif item['type'] == 'image' %}
        <li><a href="{{ url_for('view', filename=item['filename']) }}"><img src="{{ url_for('view', filename=item['filename']) }}" alt="{{ item['filename'] }}" style="max-width: 200px;"></a> <a href="{{ url_for('download_file', filename=item['filename']) }}">(Download)</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% else %}
    <p>No content available.</p>
  {% endif %}
  <a href="/logout">Logout</a>
{% endblock %}
